@use 'sass:math';
@import "mixins";
$height: 125px;
$width: 80px;
$random-number: math.random() * 360deg;
$card-rotation: -50deg;
$margin-left-card: 50px;
$random-distance: math.random() * 1px;
$random-distance-2: math.random() * 30px;


.central-zone__card {
    position: absolute;
    margin-top: 50px;
    margin-left: $margin-left-card;
    rotate: $card-rotation;
    @include card-creator-face();

}

.defausse__card {
    @include card-creator-face();
}

.opponent__card {
    @include card-creator();
}

