@import "mixins";

.central-zone__card {
    position: relative;
    top: 50px;
    left: 50px;
    height: 150px;
    width: 100px;
    background-color: white;
    border-radius: 1em;
    border: 0.3em double black ;

    .card__top{
        top__left {
            @include flex(column, start, start);
            background-color: antiquewhite;
        }
    
    }

    .center__form {
        text-align: center;
        font-size: 4em;
    }

    .card__bottom{

        .bottom__right{
            @include flex(column, start, end);
        }

        .bottom-right__number{
            rotate: 180deg;
        }
    }
}