@import "cartes";
@import "mixins";

$primary-color: #279527;
$secondary-color: lighten($primary-color, 42%);

html {
  height: 100%;

  body {
    background-color: $primary-color;
    height: 100%;

    #app {
      height: 100%;
      @include flex(row, center, center);
    }

    .central-zone {
      width: 800px;
      height: 600px;
      border: white 1px solid;
      border-radius: 1em;
      background-color: $secondary-color;
    }
  }
}